{% extends "base.html" %}
{% load static %}
{% block content  %}

    <div class="card add_i_1" >

            <div class="card-divider bg_1779ba">
                <h4 class="add_i_8">Add Ingredients for {{recipe.name}}</h4>
            </div>

            <div class="card-section center">
                <img src="{{recipe.image.url}}" class="add_i_2"/>
            </div>

            <table class="hover">
                <thead>
                    <tr>
                        <th width="200">Ingredient Name</th>
                        <th width="150">Measurement</th>
                        <th width="100">Amount</th>
                        <th width="100">Calories</th>
                        <th width="100"></th>
                    </tr>
                </thead>

                    <tbody>
                    <form action="/add_ingredient/{{id}}/" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <tr>
                            <td>{{form.name}}</td>
                            <td>{{form.amount_type}}</td> 
                            <td>{{form.amount}}</td>
                            <td>{{form.calories}}</td>
                            <td><input type = "submit" class="button expanded" value="Add Ingredient"/></td>
                        </tr>
                    </form>

            </table>
    </div>


        <div class="card add_i_7">
            <div class="card-divider bg_1779ba">
              <h4 class="add_i_8">Ingredients</h4>
            </div>
            <div class="card-section">
                <table class="hover add_i_3">
                    <thead>
                        <tr>
                            <th width="500">Ingredient Name</th>
                            <th width="300">Measurement</th>
                            <th width="100">Amount</th>
                            <th width="100">Calories</th>
                        </tr>
                    </thead>

                    <tbody class="add_i_4">
                        {% for ingredient in ingredients%}
                                <tr>
                                <td width="500">{{ingredient.name}}</td>
                                <td width="300">{{ingredient.amount_type}}</td>
                                <td width="100">{{ingredient.amount}}</td>
                                <td width="100">{{ingredient.calories}}</td>
                                </tr>
                        {% endfor %}
                     </tbody>

                </table>
            </div>
        </div>

        {% if success %}
            <div class="callout success add_i_5" data-closable>
                <h5>Ingredient successfully added</h5>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif fail %}
            <div class="callout alert add_i_6" data-closable>
                <h5>Ingredient was not added. Something went wrong.</h5>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}

{% endblock %
