{% extends "base.html" %}
{% load static %}
{% block content  %}

<div class="card" style="width: 60%; height:60%; align-content: center;  margin: 0 auto; float: none;  margin-top: 2%;">
        
    {% include "recipe_card.html" %}

        <table class="hover">
            <thead>
                <tr>
                    <th width="150">Ingredient Name</th>
                    <th width="150">Calories</th>
                    <th width="100"></th>
                </tr>
            </thead>
                
                <tbody>
                <form action="/add_ingredient/{{id}}/" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}                    
                    <tr>
                        <td>{{form.name}}</td>
                        <td>{{form.calories}}</td>
                        <td><input type = "submit" class="button expanded" value="Add Ingredient"/></td>
                    </tr>
                </form>
                {% for ingredient in ingredients%} 
                    <tr>
                        <td>{{ingredient.name}}</td>
                        <td>{{ingredient.calories}}</td>
                        <td></td>
                    </tr>
                {% endfor %}
             
        </table>
    
  </div>


{% endblock %}


