{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Revercipe</title>
    <link rel="stylesheet" href="{% static "css/foundation.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">

    {% block css %}
    {% endblock %}

  </head>

  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu">
        <li><a href="/">Revercipe</a></li>
        <li><a href="/create_recipe/">Create Recipe</a></li>
      </ul>
    </div>

    <!--STARTING TESTING -->
    <div class="top-bar-left">
    <form action = "/" method="GET">
      <ul class="dropdown menu">
      {{navForm.as_ul}}
      <li><input type = "submit" class="button" value="Search" /></li>
    </ul>
    </form>
  </div>
    {% csrf_token %}
    <!--ENDING TESTING -->

    <div class="top-bar-right">
    {% if request.path != '/login/' and request.path != '/register/' %}
      <ul class="dropdown menu" data-dropdown-menu>

        {% if user.is_authenticated %}
        <li class="has-dropdown not-click">
          <a href="/profile/">Profile</a>
          <ul class="dropdown menu" data-dropdown-menu>
            <li><a href="/myrecipes">My Recipes</a></li>
            <li><a href="/settings">Settings</a></li>
            <li> <a href='/logout/'>Logout</a></li>
          </ul>
        </li>
        {% endif %}

        {% if user.is_anonymous%}
        <li><a class="button" href='/login/' >Login</a></li>
        {% endif %}
      </ul>

    {% endif %}
  </div>
  </div>

  <body>


  {% block body %}
  {% block content %}
  {% endblock content %}
  {% endblock body %}
  </body>

  <script src="{%static "js/vendor/jquery.js" %}"></script>
  <script src="{%static "js/vendor/what-input.js" %}"></script>
  <script src="{%static "js/vendor/foundation.js" %}"></script>
  <script src="{%static "js/app.js" %}"></script>
  <script src="{%static "js/script.js" %}"></script>
</html>
