{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card" style="width: 45%; align-content: center;  margin: 0 auto;        
                                     margin-top: 20px;    float: none;">
    <div class="card-divider" style="background-color: #1779ba;">
      <h4 style="color: white;">Create a New Recipe</h4>
    </div>

    <div class="card-section" style="align-content: center; ">
        <form action = "/create_recipe/" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{form.name.label}}
            {{form.name}}

            {{form.description.label}}
            {{form.description}}

            {{form.image.label}}
            {{form.image}}

            <!-- <table class="hover">
              <thead>
                <tr>
                  <th width="200">Ingredient Name</th>
                  <th width="150">Calories</th>
                </tr>
              </thead>
            {% for ing_form in ingredient_forms %}
              <tbody>
                <tr>
                  <td>{{ing_form.name}}</td>
                  <td>{{ing_form.calories}}</td>
                </tr>
            {% endfor %}
          </table> -->

            <input type = "submit" class="button expanded" value="Create" />
        </form>
        
    </div>
  </div>



{% endblock %}
{% block scripts %}
{% endblock %}