{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="grid-x grid-padding-x mt-2">
  <div class="large-6 large-offset-3 cell">

    <div class="card-divider bg-color"> 
      <h4 class="col-white">Create a New Recipe</h4>
    </div>

    <div class="card-section">
        <form action = "/create_recipe/" enctype="multipart/form-data" method="POST">  
            {% csrf_token %}
            {{form.name.label}}
            {{form.name}}

            {{form.description.label}}
            {{form.description}}

            {{form.image.label}}
            {{form.image}}

            {{form.categories.label}}
            {{form.categories}}

            <input type = "submit" class="button expanded" value="Create" />
        </form>
        
    </div>
  </div>



{% endblock %}
{% block scripts %}
{% endblock %}