{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card create_r_1"></div> 
    <div class="card-divider bg1779ba">
      <h4 class="add_i_8">Create a New Recipe</h4>
    </div>

    <div class="card-section center" >
        <form action = "/create_recipe/" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{form.name.label}}
            {{form.name}}

            {{form.description.label}}
            {{form.description}}

            {{form.image.label}}
            {{form.image}}

            <input type = "submit" class="button expanded" value="Create" />
        </form>
        
    </div>
  </div>



{% endblock %}
{% block scripts %}
{% endblock %}