{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card" style="width: 45%; align-content: center;  margin: 0 auto;        
                                     margin-top: 20px;    float: none;">
    <div class="card-divider" style="background-color: #1779ba;">
      <h4 style="color: white;">Edit Recipe</h4>
    </div>

    <div class="card-section" style="align-content: center; ">
        <form action = "/edit_recipe/{{recipe_id}}/" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{form.name.label}}
            {{form.name}}

            {{form.description.label}}
            {{form.description}}

            {{form.image.label}}
            {{form.image}}

            {{form.categories.label}}
            {{form.categories}}

            <input type = "submit" class="button expanded" value="Edit" />
        </form>

        <form action ="/delete_recipe/{{recipe_id}}/" method="POST">
            {% csrf_token %}
            <input type ="submit" class="alert button expanded" value="Delete" />
        </form>
        
    </div>
  </div>



{% endblock %}
{% block scripts %}
{% endblock %}