{% extends "base.html" %}
{% load static %}
{% block content  %}


{% if Recipes %}
<ol>
    {% for recipe in Recipes %}
            {{ recipe }}:
            <br>
            {% load static %}
            <img src="{{ recipe.image }}">
            <br>
            {{ recipe.description }}
            <br>
            {{ recipe.comments }}
        </li>
        <br>
    {% endfor %}
</ol>
{% endif %}

<form action = "/" method="GET">
    {% csrf_token %}
    {{ form}}
    <input type = "submit" class="button" value="Search" />
</form>

<br>


{% endblock %}
