{% extends "base.html" %}
{% load static %}
{% block content  %}

<div class="grid-x">
    <div class="cell large-2">
        <ul>
            {% if filtered_ingredients %}
            Currently Filtering for:
                {% for ingredient in filtered_ingredients %}
                    <li>{{ingredient}}</li>
                {% endfor %}
            {% endif %}
        </ul>
     <form action = "/" method="GET">  
      {{filter_form}}
      <input type = "submit" class="button" value="Filter" />
    </form>
    {% csrf_token %}
    <form action='/' method="GET">
        <button type="submit" class="alert button", value="Clear" name="Clear">Clear Search</button>
    </form>
    </div>
    <div class="cell auto"> 
        {% if Recipes %}
        {% for recipes in Recipes %}
                <div class="card index_1" >
    
                    <div class="card-divider bg1779ba">
                        <h4 class="add_i_8">{{recipes.name}}</h4>
                    </div>
    
                    <div class="card-section center">
                        <a href="recipe/{{recipes.id}}/">
                            {% if recipes.image %}
                            <img src="{{recipes.image.url}}" class="index_2"/>
                            {% endif %}
                        </a>
                 
    
                        <div class="index_4">
                           Author: <a href="profile/{{recipes.author.id}}"> {{recipes.author.username}} </a>
                        </div>
    
                        <div class="index_5">
                            {% if recipes.favorite %}
                               <a><img onclick="toggle_favorite({{recipes.id}})" alt=""  src='/static/images/red-heart.jpg' class="index_3"> </a>
                            {% elif not recipes.favorite %}
                             <a><img onclick="toggle_favorite({{recipes.id}})" alt=""  src='/static/images/fi-heart.svg' class="index_3"> </a>
                            {% endif %}
                            · <img alt="" src='/static/images/gold-star.png' class="index_6"> {{recipes.rating}}</> 
                            · <a href="recipe/{{recipes.id}}/">Comments ({{recipes.comments}})</a>
                        </div>
    
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
    

    {% endblock %}