{% extends "base.html" %}
{% load static %}
{% block content  %}

<div class="grid-x">
    <div class="cell large-2">
     <form action = "/" method="GET">  
      {{filter_form}}
      <input type = "submit" class="button" value="Filter" />
    </div>
    <div class="cell auto"> 
        {% if Recipes %}
            {% for recipe in Recipes %}
                <a href="recipe/{{recipe.id}}/">
                    <div class="card" style="width: 45%; height: 50%; align-content: center;  margin: 0 auto;
                                                        margin-top: 2%; margin-left:3%; float: left;">

                        <div class="card-divider" style="background-color: #1779ba;">
                            <h4 style="color: white;">{{recipe.name}}</h4>
                        </div>
{% if Recipes %}
    {% for recipes in Recipes %}

            <div class="card" style="width: 45%; height: 50%; align-content: center;  margin: 0 auto;
                                                margin-top: 2%; margin-left:3%; float: left;">

                <div class="card-divider" style="background-color: #1779ba;">
                    <h4 style="color: white;">{{recipes.name}}</h4>
                </div>

                <div class="card-section" style="align-content: center; ">
                    <a href="recipe/{{recipes.id}}/">
                        {% if recipes.image %}
                        <img src="{{recipes.image.url}}" style=" width:100%; height:400px; object-fit: cover; float: left; margin-bottom: 3%;"/>
                        {% endif %}
                    </a>
             

                    <div style="float: left;">
                       Author: <a href="profile/{{recipes.author.id}}"> {{recipes.author.username}} </a>
                    </div>

                    <div style="float: right;">
                        {% if recipes.favorite %}
                           <a><img onclick="toggle_favorite({{recipes.id}})" alt=""  src='/static/images/red-heart.jpg' style='height:20px; width:20px;'> </a>
                        {% elif not recipes.favorite %}
                         <a><img onclick="toggle_favorite({{recipes.id}})" alt=""  src='/static/images/fi-heart.svg' style='height:20px; width:20px;'> </a>
                        {% endif %}
                        · <img alt="" src='/static/images/gold-star.png' style='height:17px; width:17px;'> {{recipes.rating}}</> 
                        · <a href="recipe/{{recipes.id}}/">Comments ({{recipes.comments}})</a>
                    </div>

                        <div class="card-section" style="align-content: center; ">
                            {% if recipe.image %}
                            <img src="{{recipe.image.url}}" style=" width:100%; height:400px; object-fit: cover; float: left;"/>
                            {% endif %}
                        </div>
                    </div>
                </a>
    {% endfor %}
{% endif %}
