{% extends "base.html" %}
{% load static %}
{% block content  %}

{% if recipes %}
    {% for recipe in recipes %}
        <a href="/recipe/{{recipe.id}}/">
            <div class="card index_1">

                <div class="card-divider bg_1779ba">
                <h4 class="add_i_8">{{recipe.name}}</h4>
                </div>

                <div class="card-section center">
                    {% if recipe.image %}
                    <img src="{{recipe.image.url}}" class="myre_1"/>
                    {% endif %}
                    <div class="card-divider">
                        <p>{{recipe.description}}</p>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
{% endif %}


{% endblock %}
