{% extends "base.html" %}
{% load static %}
{% block content  %}

<div class="pro_2">
    <div class="pro_3">

            {% for recipe in recipes %}
                <a href="/recipe/{{recipe.id}}/">
                    <div class="card pro_1" >
                        <div class="card-divider bg_1779ba">
                        <h4 class="add_i_8">{{recipe.name}}</h4>
                        </div>

                        <div class="card-section center">
                            {% if recipe.image %}
                                <img src="{{recipe.image.url}}" class="index_2"/>
                            {% endif %}
                                <div class="index_5">
                                    {% if recipe.favorite %}
                                        <a><img onclick="toggle_profile_favorite({{user.id}}, {{recipe.id}})" alt=""  src='/static/images/red-heart.jpg' class="index_3"> </a>
                                    {% elif not recipe.favorite %}
                                        <a><img onclick="toggle_profile_favorite({{user.id}}, {{recipe.id}})" alt=""  src='/static/images/fi-heart.svg' class="index_3"> </a>
                                    {% endif %}
                                    · <img alt="" src='/static/images/gold-star.png' class="index_6"> {{recipe.rating}}</>   
                                 · <a href="/recipe/{{recipe.id}}/">Comments ({{recipe.comments}})</a>
                                </div>
                        </div>
                    </div>
                </a>
            {% endfor %}

    </div>

    <div class="pro_4">
        <div class="card-info secondary" class="px_300x300">
            <div class="card-section">
            <div class="article-details tenter">

                    {% if user.profile.avatar == '/static/images/default.png' %}
                        <img src="{{user.profile.avatar}}" class="text_align_1;"></img> 
                    {% else %}
                        <img src="/media/{{user.profile.avatar}}" class="text_align_1;"></img> 
                    {% endif %}
                    </br></br>
                    <p class="pro_5"> {{user.username}} </p> 
                    <p class="pro_6">
                        <img src='/static/images/fi-torsos-all.svg' class="b25x25"> {{followers}} Followers · {{following}} Following · 
                        <img src='/static/images/red-heart.jpg' class="b20x20"> {{fav_count}} <br />
                    </p> 
                
                    {% if request_user.id == user.id %}
                        <a href="/update_profile/"> Update Profile </a>
                    {% else %}
                        <a href="/follow/{{user.id}}"> Follow </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}