
<div class="card-divider re_card_box">
    <h4 class="add_i_8">{{recipe.name}}</h4>
</div>

<div class="card-divider re_card_box_2">
      <h6 class="add_i_8">Author: {{recipe.author}}</h6>
</div>

<div class="card-section center">
    <img src="{{recipe.image.url}}" class="rec_card_1"/>
    <div class="card-divider rec_card_5">
      <table class="hover rec_card_6">
          <thead class="rec_card_7">
              <tr class="rec_card_7">
                  <th width="30%">Measurement</th>
                  <th width="20%">Amount</th>
                  <th width="40%">Ingredient Name</th>
                  <th width="100%">Calories</th>
              </tr>
          </thead>

          <tbody class="rec_card_4">
              {% for ingredient in ingredients%}
                  <tr class="rec_card_7"> 
                    <td width="31%">{{ingredient.amount_type}}</td>
                    <td width="22%">{{ingredient.amount}}</td>
                    <td width="45%">{{ingredient.name}}</td>
                    <td width="100%">{{ingredient.calories}}</td>
                  </tr>
              {% endfor %}
           </tbody>
      </table>
    </div>

    <p>Description: </p>

    <div class="card-section rec_card_2">
        <p>{{recipe.description}}</p>
    </div>

    <div id="comment-msg-div">
        <a onclick="toggle_comment()"><p>Add Comment</p></a>
    </div>

    <div id="comment-div">
        <form action="/recipe/{{recipe.id}}/" method="post">
            {% csrf_token %}
            <div class="rec_card_8">
                {{ comment_form.rating.label }}
                {{ comment_form.rating }}
            </div>
            {{ comment_form.comment_text.label }}
            {{ comment_form.comment_text }}
            <input type="submit" class="button expanded" value="Add Comment" />
        </form>
    </div>

  </div>

{% for comment in comments %}
<div class="card-info info">
    <div class="card-section">
        <div class="article-details rec_card_9">
            <span><img src="/media/{{comment.author.profile.avatar}}/" class="rec_card_3"></img></span>
            <a><span class="author">{{comment.author.username}} </span></a> &#8226;
            
            {% for i in "x"|rjust:comment.rating %}
                <span><img alt=""  src='/static/images/gold-star.png' class="b20x20"></span>          
            {% endfor %}
           
            &#8226;
            <span class="time"> {{ comment.created_on }}</span> 
        </div>
        <p class="rec_card_10">{{ comment.comment_text }}</h3>
    </div>
 </div>
{% endfor %}
