
<div class="card-divider" style="background-color: #1779ba;margin-bottom:0;padding-bottom:0;">
    <h4 style="color: white;">{{recipe.name}}</h4>
</div>

<div class="card-divider" style="background-color: #1779ba;margin-top:0;padding-top:0;">
      <h6 style="color: white; ">Author: {{recipe.author}}</h6>
</div>

<div class="card-section" style="align-content: center ">
    <img src="{{recipe.image.url}}" style="width:30%; height:232px; object-fit: cover; float: left; margin-bottom: 1%;"/>
    <div class="card-divider" style="width:70%; margin-bottom: 1%;">
      <table class="hover" style="height:200px; display:block; width: 100%;">
          <thead style="width:100%;">
              <tr style="width:100%;">
                  <th width="30%">Measurement</th>
                  <th width="20%">Amount</th>
                  <th width="40%">Ingredient Name</th>
                  <th width="100%">Calories</th>
              </tr>
          </thead>

          <tbody style=" overflow-y:scroll; height:150px; width: 100%; display:block;">
              {% for ingredient in ingredients%}
                  <tr style="width:100%;">
                    <td width="31%">{{ingredient.amount_type}}</td>
                    <td width="22%">{{ingredient.amount}}</td>
                    <td width="45%">{{ingredient.name}}</td>
                    <td width="100%">{{ingredient.calories}}</td>
                  </tr>
              {% endfor %}
           </tbody>
      </table>
    </div>

    <p>Instructions: </p>

    <div class="card-section" style="height:200px; border-style: solid; border-color: #1779ba; margin-bottom: 3%;" data-smooth-scroll>

        {% for step in steps %}
          <p>{{step}}</p>

        {%endfor%}
    </div>

    <div id="comment-msg-div">
        <a onclick="toggle_comment()"><p>Add Comment</p></a>
    </div>

    <div id="comment-div">
        <form action="/recipe/{{recipe.id}}/" method="post">
            {% csrf_token %}
            <div style="width: 10%;">
                {{ comment_form.rating.label }}
                {{ comment_form.rating }}
            </div>
            {{ comment_form.comment_text.label }}
            {{ comment_form.comment_text }}
            <input type="submit" class="button expanded" value="Add Comment" />
        </form>
    </div>

  </div>

{% for comment in comments %}
<div class="card-info info">
    <div class="card-section">
        <div class="article-details" style="margin-bottom: 1%;">

            {% if comment.author.profile.avatar == '/static/images/default.png' %}
                <span><img src="{{comment.author.profile.avatar}}" style="width:40px; height:40px; border-radius: 50%;"></img></span>
            {% else %}
                <span><img src="/media/{{comment.author.profile.avatar}}/" style="width:40px; height:40px; border-radius: 50%;"></img></span>
            {% endif %}

            <a><span class="author">{{comment.author.username}} </span></a> &#8226;

            {% for i in "x"|rjust:comment.rating %}
                <span><img alt=""  src='/static/images/gold-star.png' style='height:20px; width:20px;'></span>
            {% endfor %}

            &#8226;
            <span class="time"> {{ comment.created_on }}</span>
        </div>
        <p style="font-size: 18px;">{{ comment.comment_text }}</h3>
    </div>
 </div>
{% endfor %}
